Magic 271485
Revision Verdi_T-2022.06-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1481 440 199 76

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/orchiot/Ch0re/inter.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
windowTimeUnit 1ns

; waveform viewport range
zoom 19.127493 114.660357 1n
cursor 70.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 13
; marker line index
markerPos 20

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/orchiot/Ch0re/inter.fsdb"
addSignal -h 15 /testbench/clk
addSignal -h 15 /testbench/rst_
addSubGroup "intf(regfile_2r1w_intf)" -e FALSE
addSignal -h 15 /testbench/dut/regfile/intf/clk
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/regfile/intf/i_raddr1[4:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/regfile/intf/i_raddr2[4:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/regfile/intf/i_waddr[4:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/regfile/intf/i_wdata[63:0]
addSignal -h 15 /testbench/dut/regfile/intf/i_wen
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/regfile/intf/o_rdata1[63:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/regfile/intf/o_rdata2[63:0]
endSubGroup "intf(regfile_2r1w_intf)"
addGroup "imem_intf(mem_sync_sp_intf)"
addSignal -h 15 /testbench/dut/imem_intf/clk
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/imem_intf/i_addr[3:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/imem_intf/i_wdata[31:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/imem_intf/i_wen[3:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/imem_intf/o_rdata[31:0]
addGroup "G5"
addSignal -h 15 /testbench/clk
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/REG_PC[63:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/IFIDR_INST[31:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/IFIDR_NPC[63:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/IDEXR_IMM[31:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/IDEXR_RS1[63:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/IDEXR_RS2[63:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/IDEXR_NPC[63:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/IDEXR_FUNC[9:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/dut/IDEXR_RD[4:0]
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

